header{
    background-color: #7f7a7a;
    padding: 0px;
    text-align: center;
    background-image: url(stars.webp);
    image-rendering: auto;
    background-size: cover;
   
}

header a{
    text-decoration: none;
    color: #e10909;
    font-size: 24px;
    font-weight: bold;
}
#img-ghana{
    width: 100px;
    height: auto;
    display: flex;
}
#about-p{
    font-size: 24px;
    margin: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
body{
  color: #444;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
  line-height: 1.2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(african-savannah.webp);
  image-rendering: auto;
  background-size: cover;
}