header{
    background-color: #7f7a7a;
    padding: 0px;
    text-align: center;
    background-image: url(print.webp);
    image-rendering: auto;
    background-size: cover;
   
}

header a{
    text-decoration: none;
    color: #e10909;
    font-size: 24px;
    font-weight: bold;
}
#img-ghana{
    width: 100px;
    height: auto;
    display: flex;
    display: flex;
  align-self: center;
  justify-self: center;
}
#about-p{
    font-size: 24px;
    margin: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
body{
  color: #444;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
  line-height: 1.2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(market.webp);
  image-rendering: auto;
  background-size: cover;
}

form {
  max-width: 350px;
  margin: 24px auto;
  background-color: #01070e;
padding: 20px;
padding-right: 50px;
border-radius: 5%;
}
form label {
  margin-bottom: 8px;
  font-weight: 600;
  display: block;
}
form input,
form textarea,
form button {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 8px;
}
form input:focus, form textarea:focus{
    border-color: #007bff;
outline:none;
}
form button{
    background-color: #2117a7;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    align-self: center;
    padding: 10px 20px;
    margin-left: 17px;
}
form button:hover{
    background-color: #505962;
}
form button:active{
    background-color:rgb(85, 58, 58)
}
#gender{
    display: flex;
    gap: 20px;
}
section{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}
table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  border-radius: 5%;
}
table th,
table td {
  padding: 10px;
  text-align: left;
  border: 3px solid #110f0f;
  border-radius: 10%;
}
table th {
  background-color: #f1f1f1;
  font-weight: 600;
  color: #090808;
}
table tr:nth-child(even) {
  background-color: #f9f9f9;
}